:root {
  --background-primary : #131313;
  --background-secondary : var(--background-primary);
  --background-secondary-alt : #101010;
  --background-tertiary : var(--background-secondary-alt);
  --background-floating : var(--background-secondary-alt);
  --header-primary : #a8a8a8;

  --interactive-normal : var(--header-primary);
  --interactive-hover : #ffffff;
  --interactive-active : var(--interactive-hover);
  --interactive-muted : #505050;

  --text-normal : #dcddde;
  --text-link : #92a28e;
  --text-muted : var(--header-primary);

  --scrollbar-auto-thumb : #202020;
  --scrollbar-auto-track : #191919;

  --channeltextarea-background : var(--background-primary);

  --text-warning : #8c6983;

  --brand-experiment : #8c6983 !important;

  --add-friend : #8c6983 !important;
}

.container-1D34oG > div {
  background-color : var(--background-primary);
}

.item-3HknzM[aria-label~=Add] {
  background-color : var(--add-friend) !important;
}

.sidebar-2K8pFh {
  width : 0;
  transition : width 0.5s;
}

.guilds-1SWlCJ:hover + .base-3dtUhz .sidebar-2K8pFh,
.sidebar-2K8pFh:hover,
.guilds-1SWlCJ:focus-within + .base-3dtUhz .sidebar-2K8pFh,
.sidebar-2K8pFh:focus-within {
  width : 240px !important;
}

.membersWrap-2h-GB4 {
  min-width : 0;
}

.panels-j1Uci_ {
  border-radius: 0 15px 0 0;
}

.root-1gCeng,
.footer-2gL1pp {
  background-color: var(--background-primary) !important;
}