@-moz-document url("about:newtab"), url("about:home") {
	* {
		font-family: "Fira Code" !important;
	}

	body {
		background-color: #11171d !important;
	}

	.logo-and-wordmark {
		display: none !important;
	}

	.SnippetBaseContainer {
		display: none !important;
	}

	.search-handoff-button {
		border-radius: 20px !important;
		border-width: 4px !important;
		border-color: #131a21 !important;

		background-size: 0px !important;
		background-color: #11171d !important;

		padding-inline-start: 10px !important;
		padding-inline-end: 10px !important;
	}

	.icon-settings {
		display: none !important;
	}

	.fake-textbox {
		text-align: center !important;
	}

	.search-wrapper input {
		background-color: #11171d !important;
		border-radius: 0px !important;

		background-image: none !important;
		background-size: none !important;
		text-align: center !important;
		font-size: 17px !important;

		padding-inline-start: 10px !important;
		padding-inline-end: 10px !important;
	}

	.search-wrapper input:focus {
		text-align: left !important;
	}

	.body-wrapper {
		display: none !important;
	}
}
